:root {
  --black-intense: #151515;
  --black: #202022;
  --black-light: #2d2d2e;
  --gray: #949495;
  --withe: #f1f2f2;
  --red-cherry: #f53b57;
  --font-poppins: "Poppins", sans-serif;
  --font-playfair: "Playfair Display", serif;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: var(--black-intense);
}

::-webkit-scrollbar-thumb {
  background: var(--gray);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--withe);
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: var(--font-poppins);
  color: var(--withe);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: var(--black);
  font-size: 62.5%;
  min-width: 320px;
}

a {
  text-decoration: none;
}

.space-lateral {
  padding: 0 24px;
}

.nav {
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: var(--black-intense);
}

.nav__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  margin: auto;
}

.nav__container .logo {
  font-size: 2.2rem;
  font-weight: 800;
}

.nav__container .logo:hover {
  color: var(--red-cherry);
}

.nav__container .menu {
  position: relative;
  height: 60px;
  width: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__container .menu .nav-burger {
  font-size: 28px;
}

.nav__container .menu .nav-burger:hover {
  color: var(--red-cherry);
}

.nav__container .menu:hover .nav__list-links,
.nav__container .menu .nav__list-links:hover {
  display: inline-block;
}

.nav__container .menu .nav__list-links {
  list-style: none;
  display: none;
  background-color: var(--black-intense);
  padding: 20px 20px;
  position: absolute;
  top: 45px;
  right: -20px;
  text-align: end;
}

.nav__container .menu .nav__list-links li a:hover {
  color: var(--red-cherry);
  text-decoration: underline;
}

.content {
  padding: 60px 24px;
  background-color: var(--black-intense);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__left {
  text-align: center;
  margin: 50px 0;
  max-width: 1200px;
}

.content__left img {
  border: 2px solid var(--withe);
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content__left .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  width: 100%;
  margin: 15px 0 0;
}

.content__left .social-media .fab,
.content__left .social-media .fas {
  font-size: 2rem;
}

.content__left .social-media .fab:hover,
.content__left .social-media .fas:hover {
  color: var(--red-cherry);
}

.content__right {
  text-align: center;
}

.content__right h1 {
  font-size: 4rem;
  line-height: 4.6rem;
  margin: 0 0 20px;
}

.content__right p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.1rem;
  color: var(--gray);
  max-width: 500px;
}

.work {
  background-color: var(--black);
}

.work__container {
  padding-top: 60px;
}

.work__container .work__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0 50px;
}

.work__container .work__content h2 {
  font-size: 2.5rem;
}

.work__container .work__content p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.05rem;
  color: var(--gray);
  max-width: 500px;
  text-align: center;
}

.work__container--block {
  display: block;
}

.work__proyects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  gap: 30px;
  padding-bottom: 60px;
}

.work__proyects .card {
  background-color: var(--black-light);
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 30px -7px rgba(21, 21, 21, 0.8);
          box-shadow: 0px 10px 30px -7px rgba(21, 21, 21, 0.8);
}

.work__proyects .card__img .img {
  min-width: 270px;
  min-height: 200px;
  background: var(--withe);
  border-radius: 10px 10px 0 0;
}

.work__proyects .card__img .audiservicios {
  background: url(../assets/image/png/@udiservicios-300x300.png) center/cover no-repeat var(--withe);
}

.work__proyects .card__content {
  padding: 40px 24px;
}

.work__proyects .card__content p:nth-child(1) {
  color: var(--red-cherry);
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 700;
}

.work__proyects .card__content h3 {
  font-size: 2rem;
}

.work__proyects .card__content p:nth-child(3) {
  color: var(--gray);
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin: 15px 0 20px;
}

.work__proyects .card__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  font-size: 3rem;
}

.fa-html5 {
  color: #e34c26;
}

.fa-css3-alt {
  color: #264de4;
}

.fa-bootstrap {
  color: #7952b3;
}

.fa-sass {
  color: #cd6799;
}

.fa-js-square {
  color: #f0db4f;
}

.footer {
  background-color: var(--withe);
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
}

.footer__content {
  padding: 50px;
}

.footer__content p {
  color: var(--black-intense);
}

.footer__content span {
  color: var(--black-intense);
}
/*# sourceMappingURL=style.css.map */