:root {
  // Colors
  --black-intense: #111111;
  --black: #222222;
  --black-light: #333333;
  --gray: #999999;
  --withe: #dddddd;
  --red-cherry: #f53b57;
  // Fonts
  --font-poppins: 'Poppins', sans-serif;
  --font-playfair: 'Playfair Display', serif;
}

// scroll
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: var(--black-intense);
}

// Handle
::-webkit-scrollbar-thumb {
  background: var(--red-cherry);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--withe);
}
// scroll

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: var(--font-poppins);
  color: var(--withe);
  box-sizing: border-box;
}

html {
  background-color: var(--black);
  font-size: 62.5%;
  min-width: 320px;
  scroll-behavior:auto;
}

a {
  text-decoration: none;
}

.space-lateral {
  padding: 0 24px;
}

// nav
.nav {
  width: 100%;
  position: fixed;
  background-color: var(--black-intense);
  z-index: 1;
  padding: 10px 0;

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    margin: auto;

    .logo {
      font-size: 2.2rem;
      font-weight: 800;
      transition-duration: 1s;

      &:hover {
        color: var(--red-cherry);
        transition-duration: 1s;
      }
    }

    .menu {
      position: relative;
      height: 60px;
      width: 25px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover .nav__list-links,
      .nav__list-links:hover {
        display: flex;
        flex-direction: column;
        text-align: center;
      }

      .nav-burger {
        font-size: 28px;

        &:hover {
          color: var(--red-cherry);
        }
      }

      .nav__list-links {
        list-style: none;
        display: none;
        background-color: var(--black-intense);
        padding: 20px 20px;
        position: absolute;
        top: 45px;
        right: -20px;
        text-align: end;

        li a {
          transition-duration: 1s;
          &:hover {
            color: var(--red-cherry);
            text-decoration: underline;
            transition-duration: 1s;
          }
        }

        li:nth-child(3) {
          margin: 10px 0 0;
        }

        li:nth-child(3) a {
          padding: 5px 15px;
          border: 2px solid var(--red-cherry);
          border-radius: 30px;

          &:hover {
            background-color: var(--red-cherry);
            color: var(--withe);
            text-decoration: none;
          }
        }
      }
    }
  }
}
// nav

// header
.header {
  &__container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--black-intense);
    flex-direction: column;
    gap: 15px;
  }

  &__container {
    text-align: center;

    h1 {
      font-size: 4rem;
      line-height: 4.6rem;
    }

    p {
      font-size: 1.5rem;
      line-height: 2.5rem;
      color: var(--red-cherry);
      opacity: 1;
    }
  }
}
// header

// about me
.about-me {
  position: relative;
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;

  &__container {
    display: grid;
    place-items: center;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }

  &__left {
    text-align: center;
    img {
      border: 2px solid var(--withe);
      border-radius: 100px;
      object-fit: cover;
    }

    .social-media {
      display: flex;
      justify-content: center;
      gap: 20px;
      width: 100%;
      margin: 15px 0 0;

      .fab,
      .fas {
        font-size: 2rem;
        transition-duration: 1s;
      }

      .fab:hover,
      .fas:hover {
        color: var(--red-cherry);
        transition-duration: 1s;
      }
    }
  }

  &__right {
    text-align: center;
    max-width: 80%;
    h2 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.5rem;
      line-height: 2.5rem;
      letter-spacing: 0.1rem;
      color: var(--gray);
      margin: auto;
    }
  }

  .img-wave-up {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .img-wave-down {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}
// content

// work
.work {
  background-color: var(--black-light);
  padding: 100px 0;

  &__container {
    .work__content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px 0 50px;

      h2 {
        font-size: 2.5rem;
      }

      p {
        font-size: 1.5rem;
        line-height: 2.5rem;
        letter-spacing: 0.05rem;
        color: var(--gray);
        max-width: 500px;
        text-align: center;
      }
    }

    &--block {
      display: block;
    }
  }

  &__proyects {
    display: grid;
    grid-template-columns: auto;
    place-content: center;
    gap: 30px;

    .card {
      background-color: var(--black);
      border-radius: 10px;
      box-shadow: 0px 10px 30px -7px rgba(21, 21, 21, 0.8);
      max-width: 380px;

      &__img {
        display: block;
        overflow: hidden;
        border-radius: 10px 10px 0 0;

        .img {
          width: 100%;
          height: 200px;
          background: var(--withe);
          border-radius: 10px 10px 0 0;
          transition-duration: 1s;

          &:hover {
            transform: scale(1.1);
          }
        }

        .audiservicios {
          background: url(../assets/image/png/@udiservicios.png) center/cover
            no-repeat var(--withe);
        }

        .batatabit {
          background: url(../assets/image/png/batatabit.png) center/cover
            no-repeat var(--withe);
        }

        // .frontend-portafolio {
        // }

        .reproductor-js {
          background: url(../assets/image/png/reproductor-de-video.png)
            center/cover no-repeat var(--withe);
        }

        .workshop-lazy {
          background: url(../assets/image/png/lazyloading.png) center/cover
            no-repeat var(--withe);
        }

        .landing-page {
          background: url(../assets/image/png/prueba-tecnica-landing-page.jpg)
            center/cover no-repeat var(--withe);
        }
      }

      &__content {
        padding: 40px 24px;
        p:nth-child(1) {
          color: var(--red-cherry);
          font-size: 1.3rem;
          text-transform: uppercase;
          letter-spacing: 0.2rem;
          font-weight: 700;
        }

        h3 {
          font-size: 2rem;
        }

        p:nth-child(3) {
          color: var(--gray);
          font-size: 1.5rem;
          line-height: 2.5rem;
          margin: 15px 0 20px;
        }
      }

      &__lang {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;
        font-size: 1.5rem;
      }
    }
  }
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 40px;
  border-radius: 50px;
  padding: 0 15px;

  &__html {
    background-color: rgba(227, 76, 38, 0.4);
  }

  &__css {
    background-color: rgba(37, 75, 228, 0.4);
  }

  &__bootstrap {
    background-color: rgba(121, 82, 179, 0.4);
  }

  &__sass {
    background-color: rgba(205, 103, 153, 0.4);
  }

  &__js {
    background-color: rgba(240, 219, 79, 0.4);
  }

  &__talwindcss {
    background-color: rgba(22, 190, 202, 0.4);

    img {
      height: 15px;
    }
  }

  p {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.fa-html5 {
  color: #e34c26;
}

.fa-css3-alt {
  color: #264de4;
}

.fa-bootstrap {
  color: #7952b3;
}

.fa-sass {
  color: #cd6799;
}

.fa-js-square {
  color: #f0db4f;
}
// work

// footer
.footer {
  background-color: var(--withe);
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
  padding: 20px 0;

  &__content {
    p,
    span,
    b {
      color: var(--black-intense);
    }

    a:hover b:hover {
      color: var(--red-cherry);
      text-decoration: underline;
      transition-duration: 1s;
    }
  }
}
// footer
