.content {
  &__container {
    grid-template-columns: 30% 60%;
    gap: 30px;
  }

  &__left {
    justify-self: end;
    margin: 0;

    .social-media {
      .fab,
      .fas {
        font-size: 2.5rem;
      }
    }
  }

  &__right {
    text-align: start;
    justify-self: start;

    h1 {
      font-size: 5.5rem;
      line-height: 5.5rem;
    }
  }
}

.work {
  &__proyects {
    grid-template-columns: repeat(2, auto);
  }
}

.space-lateral {
  padding: 0 48px;
}
